@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'IBM Plex Sans', sans-serif;
}

.landing{
  height: 60vh;
  background: radial-gradient(56.64% 72.58% at 71.08% 43.36%, #042A64 0%, #000F26 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}


.landing h2{
  font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 73px;
color:#fff;
text-align: center;
padding-top: 150px;
}

.landing p{
color:#B0C1DA;
width: 50%;
margin: auto;
text-align: center;
}

.buttons{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.landing button{
background: #0069FF;
border-radius: 3px;
color: #fff;
width: 200px;
text-align: center;
padding: 10px 20px;
}

.stak{
  width: 90%;
  margin: auto;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  margin-top: 30px !important;
  margin-bottom: 40px !important;
}

.content_header_stak{
display: flex;

}

.content_header_stak p{
color: #fff;
}

.header_stak{
  background: #011431;
  padding:10px 10px;
  border-radius: 8px 8px 0px 0px;

}


.content_stak{
  display: flex;
  justify-content: space-between;
  padding:30px;
}

.left_content_stak{
  width: 60%;
}

.right_content_stak{
  width: 40%;
  justify-content: center;
    display: flex;

}


.left_content_stak{
  display: flex;
  flex-wrap: wrap;
}

.input_box{
  width: 50%;
  margin-top: 20px;
}

.input_box input{
  height: 50px;
  width: 90%;
  background: #E8EEF6;
  border: 1px solid #D8DEE6;
  border-radius: 16px;
  margin-top: 6px;
  outline: none;
  border: none;
  padding: 0 10px 0 15px;
  font-size: 20px;
  color: rgba(0,0,0,0.6);
}

.input2{
  position: relative;

}

.inputpart{
  position:absolute;
  top:25%;
  right: 50px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 2px 3px 7px rgba(2, 22, 51, 0.05);
  padding: 5px 20px;
  font-weight: 600;
}

.inputpart1{
  position:absolute;
  top:25%;
  left: 20px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 2px 3px 7px rgba(2, 22, 51, 0.05);
  padding: 5px 20px;
  font-weight: 600;

}

select{
border: none;
outline: none;
}

.detail_box{
  background: #DBFFF5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width: 60% !important;
padding: 20px 10px;
}

.detail_box h2{
  color: #56BC7C;
  font-size: 20px;
  font-weight: 700;

}
.detail_box p{
  color: #56BC7C;
  margin-top: 10px;
  font-weight: 500;

}

.whitelist-text{
  color: #56BC7C;
}

.stak_whitelist{
  margin-top:30px !important;
  width: 90%;
  margin:auto;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011431;
  border-radius: 8px;

}

.whitelist{
  text-align: center;
  color: #fff;

  
}

.stak_value{
  color: #56BC7C;
  font-weight: 500;
}


.threebuttons{
  display: flex;
  justify-content: space-between;
  margin:30px 0;
  width: 420px;
  flex-wrap: wrap;

}


.stak_info label{
  font-size: 23px;
}


.buttons_stake{
  border: 1px solid rgba(0, 0, 0,0.2);
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  height: 40px;
  font-size: 16px;
}

.stake_first{
  width: 200px;
  background: #56BC7C;

}

.unstake{
  width: 200px;
  margin-top: 7px;
  background: #56BC7C;
}

.emergency{
  width: 200px;
  margin-top: 7px;
background: #FF5C5D;
}

.stak_info{
  width: 100% !important;
}

@media(max-width:768px){
  .landing h2{
   font-size: 40px;
   line-height: 45px;
   padding-top: 100px;

}


  .threebuttons{
    width: 100% !important;
    justify-content: space-between;
  }

  .stake_first{
    width: 49%;
  }

  .unstake{
    width: 49%;
    margin-left: 0px;

  }


    .emergency{
      width: 49%;
    }

  .landing p{
   margin-top:20px

}

.content_stak{
  flex-direction: column;
}

.left_content_stak{
  width: 100%;
}

.right_content_stak{
  width: 100%;
  justify-content: center;
    display: flex;

}

.input_box{
  width: 100%;
  margin-top: 20px;
} 

.detail_box{
  width: 100% !important;
  margin-top: 30px;
}

.stak_info label{
  font-size: 20px;
}

}



@media(max-width:500px){
  .inputpart{
    right: 20px;
  }

  .buttons_stake{
    font-size: 14px !important;
  }

  .stak_info label{
    font-size: 16px;
  }
  
}